<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Tracker Home page</title>
    </head>

    <body>
        <h1>Welcome to the Expense Tracker</h1>
        <p>
            <a th:href="@{/add_transaction}">Add Transaction Page</a>
            <br>
            <br>
            <br>
            <a th:href="@{/view_transaction}">View Transaction Page</a>
            <br>
            <br>
            <br>
            <a th:href="@{/summary}">Summary Page</a>
        </p>
    </body>
</html>