<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <style>
        table, th, td {
          border:1px solid black;
        }
        </style>
    <head>
        <title>View Transaction page</title>
    </head>

    <body>
        <h1>Welcome to the View Transaction page</h1>
        <p>
            <table style="width: 80%;">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Description</th>
                        <th>Amount</th>
                        <th>Date</th>
                        <th>Category</th>
                        <th>Expense Type</th>
                        <th>Edit option</th>
                        <th>Delete option</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="t: ${transaction_list}">
                        <td th:text="${t.id}"></td>
                        <td th:text="${t.description}"></td>
                        <td th:text="${t.amount}"></td>
                        <td th:text="${t.date}"></td>
                        <td th:text="${t.category}"></td>
                        <td th:text="${t.e_type}"></td>
                        <td><a th:href="@{'/view_transaction/edit/' + ${t.id}}">Edit</a></td>
                        <td><a th:href="@{'/view_transaction/delete/' + ${t.id}}">Delete</a></td>
                    </tr>
                </tbody>

            </table>
        </p>
    </body>
</html>